*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
@layer utilities {
    .content-auto {
        content-visibility: auto;
    }
}
:root{
    --black: #000000;
    --white: #ffffff;
    --light-grey: #818a91;
    --dark-grey: #28282a;
    --orange: #be5b00;
    --pink: #f2decc;
}
.nav-a{
    transition: all .3s ease-in-out;
}
.nav-a:hover{
    color: orangered !important;
}
.text-bold{
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 3px;
}
.active{
    color: orangered;
}